/* Estilos */

/* Vista del Login --------------------------------------------------------- */

#contentLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#formDeLogin {
  width: 30%;
  height: 100%;
  border: 1px solid #004883;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#logoLogin {
  height: 300px;
  width: 255px;
}

#cabeceraLogin {
  text-align: center;
}

#cabeceraLogin h1 {
  font-weight: bold;
  font-size: 1000;
  margin-top: 10px;
}

#cabeceraLogin h2 {
  font-weight: bold;
  font-size: 900;
  margin-top: 5px;
}

.textLogin {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #004883;
  border-radius: 5px;
}

#incorrectCredentials {
  background-color: red;
  color: white;
  position: relative;
  display: block;
  font-size: 600;
  padding: 2px 3px;
  border: 1px solid white;
}

#eyeLogin {
  float: right;
  margin-right: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* ------------------------------------------------------------------------- */

/* Dashboards ------------------------------------------------------------- */

.cuadradoDashboard {
  border: 1px solid #004883;
  height: 250px;
  background-color: #f3f3f3;
  border-radius: 3px;
  cursor: pointer;
}

.rectanguloDashboard {
  border: 1px solid #004883;
  min-height: 250px;
  height: max-content;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.iconoDashboard {
  margin-top: 15px;
  height: 80px;
  width: 80px;
  display: flex;
}

.iconoDashboard span {
  margin: auto;
}

.cuadradoDashboard h2,
.rectanguloDashboard h2 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1px;
}

.cuadradoDashboard h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 35px;
}

/* ------------------------------------------------------------------------- */

/* Otras vistas ------------------------------------------------------------ */

.contentViews {
  position: relative;
  width: calc(100% - 260px);
  height: 100%;
  margin-left: 260px;
}

.textTitleV2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

.textSubTitleV2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

.tableV2,
.tableDashboard {
  border-collapse: collapse;
  font-size: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  table-layout: fixed;
  margin: 15px 0px 30px 0px;
}

.tableV2 thead tr,
.tableDashboard thead tr {
  background-color: #004883;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
}

.tableV2 th,
.tableV2 td,
.tableDashboard th,
.tableDashboard td {
  padding: 12px 15px;
}

.tableV2 tbody tr,
.tableDashboard tbody tr {
  border-bottom: 2px solid #dddddd;
}

.tableV2 tbody tr:nth-of-type(even),
.tableDashboard tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tableV2 tbody tr:last-of-type,
.tableDashboard tbody tr:last-of-type {
  border-bottom: 3px solid #004883;
}

.tableDashboard tbody tr:hover {
  background-color: #ececec;
  cursor: pointer;
  font-weight: 500;
}

.row-Codigo,
.row-Horario,
.row-Nivel,
.row-Ponderacion {
  width: 10%;
}

.row-ButtonIcon {
  width: 5%;
}

.row-ButtonText {
  width: 10%;
}

.row-Nombre {
  width: 40%;
}

.botonTabla {
  background: #004883;
  border-radius: 999px;
  box-shadow: #004883 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  outline: 0 solid transparent;
  padding: 8px 18px;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.botonTabla:hover {
  transform: scale(1.05);
}

.botonTabla:disabled {
  opacity: 0.5;
}

.submitButton {
  background: #004883;
  border-radius: 10px;
  color: #ffffff;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 40px;
}

.submitButton:disabled, .buttonSecondary:disabled {
  opacity: 0.5;
  cursor: default;
}

.buttonSecondary {
  background: #ffffff;
  border-radius: 10px;
  color: #004883;
  border: solid 2px #004883;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 40px;
}

.submitButton:hover:enabled {
  transition: all 0.1s ease-in-out;
  opacity: 0.9;
}

.buttonSecondary:hover:enabled {
  transition: all 0.1s ease-in-out;
  background: #f3f3f3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
}

.informationCalification {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.styleRow {
  margin: 0px 2px;
  padding: 10px 0px;
}

.centralContent {
  margin: auto;
  width: 98%;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
}

.titleSection {
  display: block;
  background: #c4c4c4;
  border: 2px solid #004883;
  border-radius: 20px;
  padding: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textTitle {
  text-align: center;
  font-size: 30px;
  color: #000;
  font-weight: 600;
}

/* Todo lo relacionado con tableContent debe ser borrado, ya que se eliminó en 
varias vistas. Ahora solo se deja la tabla. */
.tableContent {
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 2px solid #004883;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.tableContent .table {
  border-collapse: collapse;
}

.tableContent .table thead tr {
  text-align: center;
}

.tableContent .table thead tr th {
  padding: 8px;
}

.formApelacion {
  margin: auto;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px #004883(0, 0, 0, 0.25);
  width: 45%;
  border: solid 1px #004883;
  border-radius: 10px;
  padding: 45px;
}

.textoFormulario {
  display: block;
  font-size: 1.125em;
  line-height: 1.25;
  letter-spacing: 0.025em;
}

.cuadroTexto {
  margin-top: 5px;
  padding: 10px;
  text-align: justify;
  overflow: auto;
}

.cuadroTexto:focus {
  outline: none !important;
  border-color: #004883;
  box-shadow: 0 0 3px #004883;
}

.buttonForm {
  display: block;
  margin-top: 10px;
  background-color: #004883;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 25%;
  text-align: center;
  font-weight: bold;
  padding: 10px 15px;
  color: #fff;
}

#motivoSolicitud {
  display: block;
  width: 95%;
  border: 1px solid #004883;
}

#divMotivo {
  margin-top: 40px;
}

.itemFormulario {
  margin: 15px 0px;
}

/* Estilos del Sidebar */

.wrapper .sidebar {
  background-color: #004883;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 260px;
  padding: 3px;
  transition: all 0.5s ease;
  z-index: 1;
}

.wrapper .sidebar .logo {
  margin-bottom: 30px;
}

.wrapper .sidebar .logo img {
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 100px;
}

.wrapper .sidebar ul li a {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 40px;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.wrapper .sidebar ul {
  list-style-type: none;
  padding: 0;
}

.wrapper .sidebar ul li a .icon {
  color: white;
  display: inline-block;
  width: 50px;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a:active {
  background-color: #0259a0;
}

.lineaSeparatoria {
  border-bottom: solid 3px black;
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
}

/* Seguimiento de solicitud */

.track {
  text-align: center;
  width: 33.33%;
  position: relative;
  display: block;
}

.track .is-complete {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 0px solid #afafaf;
  background-color: #f7be16;
  margin: 0 auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  z-index: 2;
}
.track .is-complete:after {
  display: block;
  position: absolute;
  content: "";
  height: 14px;
  width: 7px;
  top: -2px;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  border: 0px solid #afafaf;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.track.completed .is-complete {
  border-color: #27aa80;
  border-width: 0px;
  background-color: #27aa80;
}
.track.completed .is-complete:after {
  border-color: #fff;
  border-width: 0px 3px 3px 0;
  width: 7px;
  left: 11px;
  opacity: 1;
}

.track.rejected .is-complete {
  border-width: 0px;
  background-color: red;
}

.track p {
  color: #a4a4a4;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 20px;
}

.track p span {
  font-size: 14px;
}

.track.completed p {
  color: #000;
}
.track.rejected p {
  color: #000;
}
.track::before {
  content: "";
  display: block;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #f7be16;
  top: 13px;
  position: absolute;
  left: calc(-50% + 20px);
  z-index: 0;
}

.track:first-child:before {
  display: none;
}
.track.completed:before {
  background-color: #27aa80;
}
.track.rejected:before {
  background-color: red;
}

.informacionAdicional p {
  font-size: small;
}

.componentCourse {
  margin-bottom: 30px;
}

.stateStudent {
  background-color: #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.botonDescarga {
  background-color: #004883;
  border: none;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 15px;
  display: block;
}

/* Darker background on mouse-over */
.botonDescarga:hover {
  background-color: RoyalBlue;
}